body {
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    justify-content: center;
}
.copy {
    margin-top: 100px;
    width: 200px;
    align-items: center;
    justify-content: center;
}